<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <a routerLink="/" class="logo">
      </a>
      <p class="footer-description">
        A ConcertHub a te platformod az élőzenei eseményekhez.
        "Az élőzenei utazásod itt kezdődik"
      </p>
      <p class="footer-description">
        "Csapj le a jegyekre, mielőtt elfogynak! 🎸"
        "100%-ban ellenőrzött jegyek. Nincsenek átverések, csak zene."
      </p>
    </div>

    <div class="footer-links">

      <div class="footer-column">
        <h3 class="footer-title">Jogi információk</h3>
        <ul class="footer-list">
          <a routerLink="/privacy" routerLinkActive="active">Adatvédelmi irányelvek</a>
          <a routerLink="/terms" routerLinkActive="active">Felhasználási feltételek</a>
          <a routerLink="/cookies" routerLinkActive="active">Sütiszabályzat</a>
        </ul>
      </div>

      <div class="footer-column">
        <h3 class="footer-title">Kapcsolat</h3>
        <ul class="footer-list">
          <i class="icon icon-phone"></i> +36 (30) 123-4567
          <i class="icon icon-location"></i> 123 Aradi utca, Szeged, Magyarország
        </ul>
      </div>
    </div>
  </div>
</footer>
